---
layout: blog
post: true
---

<header class="post-header">
	<h2 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
	<p class="post-meta">
		<i class="fa fa-calendar"></i>
		{{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日
		<i class="space"></i>
		<i class="fa fa-tags"></i>
		<a class="post-categorybut" href="/page/category.html#{{ post.categories }}">{{ page.categories }}</a>
	</p>
</header>
<div class="main-pagination">
	{{ content }}
	<div class="bdsharebuttonbox">
		<a href="#" class="bds_more" data-cmd="more"></a>
		<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
		<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
	</div>
	<div class="pagination">
		{% if page.previous %}
		<a class="pagination-item newer" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }} "><i class="fa fa-mail-reply"></i>&nbsp;{{ page.previous.title }}</a>
		{% else %}
		<span class="pagination-item newer">上一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
		{% endif %}
		{% if page.next %}
		<a class="pagination-item older" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}&nbsp;<i class="fa fa-mail-forward"></i></a>
		{% else %}
		<span class="pagination-item older">下一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
		{% endif %}
	</div>
	{% if page.duoshuo != false %}
	<div class="ds-thread" data-title="{{ page.title }}" data-thread-key="{{ page.id }}" data-url="http://{{ site.meta.blog.url }}{{ page.url }}"></div>
	{% endif %}
</div>
